div#content {
    margin: auto;
    width: 47em;
    display: flex;
    flex-direction: column;
}

#filter, #filter-clear {
  margin: 25px;
  align-self: flex-end;
}

#vanilla_tor, p {
    width: 46.25em;
    margin: auto;
}